{% extends 'base.html.twig' %}

{% block title %}Panier 💳{% endblock %}

{% block body %}

<h2>Votre panier 💳</h2>

{% if items | length > 0 %}
    <div class="d-flex justify-content-center">
        
        <table rules="rows">
            <thead>
                <tr>
                    <th>Oeuvre</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td> {{ item.oeuvre.nomOeuvre }} </td>
                        <td> {{ item.oeuvre.prix }} </td>
                        <td> {{ item.quantite }} </td>
                        <td> {{ item.oeuvre.prix * item.quantite }} </td>
                        <td> <a href=" {{ path('suppression_panier', {'id': item.oeuvre.id}) }} " class="btn"><i class="fas fa-trash"></i></a> </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="text-right">
                <tr>
                <td colspan"3"> TOTAL =  </td>
                <td> {{ total }} </td>
                <td>  </td>
                </tr>
            </tfoot>
        </table>

    </div>

{% else %}

    <h2> Votre panier est vide! </h2>

{% endif %}

<br><br><br>

{% endblock %}
