{% extends 'base.html.twig' %}

{% block title %}Evénements
{% endblock %}

{% block body %}

	<div class="container-fluid bc-top-page bg-info text-justify">
		<div class="container pt-4 pb-4">
			<h1 class="pb-4 titre-black">venez à la rencontre d'Art d'un temps grace a nos evenements</h1>

			<h2 class="text-justify text-center">Art d'un temps organise chaque année plusieurs evenements tout au long de l'année, afin de vous faire entrer encore un peu plus dans le mode de l'art</h2>

		</div>
	</div>

	<div class="container">
		<p class="text-justify text-center mt-4">En collaboration avec les artistes partenaires d'Art d'un temps, nous organisons chaque année plusieurs evenements. Au programme salons, vernissages, expositions, rencontres. avec Art d'un temps, l'art est toujours au plus prés de vous.</p>
	</div>


	<section class="container mb-3">
		<h2>Nos prochains événements</h2>
		<div class="card-columns">
			{% for event in events %}
			<div class="card">
				<div class="card-body">
				  <h5 class="card-title">{{ event.titre }}</h5>
				</div>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">
					  <i class="fas fa-map-marker-alt"></i> {{ event.adresse }}<br>
					  {{ event.cp }} {{ event.ville }}</li>
				  <li class="list-group-item"><i class="far fa-calendar-alt"></i> {{ event.dateDebut ? event.dateDebut|date('d-m-Y') : '' }}</li>
				</ul>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">
				  {% for user in event.getUsers %}
                            {{ user.pseudo }} -
                        {% endfor %}
				  </li>
				</ul>

			  </div>
			  {% endfor %}
		</div>
	</section>


</div>


{% endblock %}
