{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
    <h1>Oeuvre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Categorie</th>
                <th>Nom_oeuvre</th>
                <th>Année</th>
                <th>Dimension</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td>{{ oeuvre.id }}</td>
                <td>{{ oeuvre.reference }}</td>
                <td>{{ oeuvre.categorie }}</td>
                <td>{{ oeuvre.nomOeuvre }}</td>
                <td>{{ oeuvre.annee ? oeuvre.annee|date('Y-m-d') : '' }}</td>
                <td>{{ oeuvre.dimension }}</td>
                <td>{{ oeuvre.prix }}</td>
                <td>{{ oeuvre.photo }}</td>
                <td>{{ oeuvre.stock }}</td>
                <td>
                    <a href="{{ path('oeuvre_show', {'id': oeuvre.id}) }}">show</a>
                    <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('oeuvre_new') }}">Create new</a>
{% endblock %}
