{% extends 'base.html.twig' %}


{% block body %}

	<div class="container">
		<div class="row mb-3">
			<div class="col-lg-8">
				<img class="img-fp-oeuvre rounded" src="{{ asset(dossier_images_oeuvres) ~ oeuvre.photo }}" alt=" ">
			</div>

			<div class="col-lg-4">
				<h1 class="titre-black">{{ oeuvre.nomOeuvre }}</h1>
				<hr>
				<p class="infos-oeuvre">{{ oeuvre.categorie }} / {{ oeuvre.annee ? oeuvre.annee|date('Y-m-d') : '' }}</p>
				<div class="">
					<a href="#description">Voir la description detaillé</a>
					<p class="prix">{{ oeuvre.prix }} €</p>
				<div>
				<a href="#" type="submit" class="btn">Acheter l'oeuvre</a>
			</div>
		</div>

				<h2 class="h2-fp">A propos de l'artiste</h2>
				<hr>
				<div class="d-flex">
					<div class="col-3">
						<img class="rounded img-fp-artiste" src="/images/artiste_01.jpg" alt="Photo profil artiste">	
					</div>
					<div>
						<h4>{{ oeuvre.membre.pseudo }}</h4>
						<p>{{ oeuvre.membre.email }} - {{ oeuvre.membre.ville }}</p>
					</div>
				</div>

				<h2 class="h2-fp">Tags</h2>
				<hr>
				<div class="d-flex">
					<p class="tag badge badge-secondary m-1">{{ oeuvre.categorie }}</p>
					<p class="tag badge badge-secondary m-1">{{ oeuvre.membre.pseudo }}</p>
					<p class="tag badge badge-secondary m-1">{{ oeuvre.membre.ville }}</p>
				</div>

			</div>
		</div>

		<div id="description" class="row justify-content-xl-between">
			<div class="col-xl-8">

				<h2>Description</h2>

				<hr>
				<div class="d-flex justify-content-between ">

					<p><strong>Technique</strong></p>

					<p>{{ oeuvre.categorie }}</p>
				</div>
				<hr>
				<div class="d-flex justify-content-between ">

					<p><strong>Dimensions</strong></p>

					<p>{{ oeuvre.dimension }} cm</p>
				</div>

				<hr>

				<p><strong>A propos de l'oeuvre</strong></p>

				<p class="description">{{ oeuvre.description }}</p>

			</div>
			<hr>

			{# <div class="col-xl-4 ">

				<h2>Evènement</h2>

				<p>Cette oeuvre est exposé au public lors de l'évènement suivant :</p>

				<div class="d-flex ">

					<p class="mb-4"><span class="chiffre">02</span><br>Nov.2021</p>

					<div class="ml-2 mt-2">
						<p>Titre de l'événement
							<br>détails, lieu, date de fin</p>
						<a href="#">En savoir plus</a>
					</div>
				</div> #}

				
			</div>
		</div>

		<section>
			<div class="container">
				<h2 class="my-3">Art d'un temps, c'est...</h2>
				<!-- LES POINTS DU CONCEPT -->
				<div class="row text-center justify-content-center my-4">
					<!-- 1ER POINT -->
					<div class="col-sm-5 col-lg-3">
						<div>
							<img src="/images/decouvrez.png" class="pictos-concept">
						</div>
						<span><strong>Découvrez</strong></span>
						<p>Visualisez toutes les oeuvres en quelques clics sans bouger de chez vous.</p>
					</div>
					<!-- 2E POINT -->
					<div class="col-sm-5 col-lg-3">
						<div>
							<img src="/images/gerez.png" class="pictos-concept">
						</div>
						<span><strong>Gérez</strong></span>
						<p>Grâce à votre espace personnel, gérez vos contenus et rencontrez d'autres artistes.</p>
					</div>
					<!-- 3E POINT -->
					<div class="col-sm-5 col-lg-3">
						<div>
							<img src="/images/achetez.png" class="pictos-concept">
						</div>
						<span><strong>Achetez</strong></span>
						<p>Acquérisez les oeuvres d'art en quelques clics sans bouger de votre canapé.</p>
					</div>
					<!-- 4E POINT -->
					<div class="col-sm-5 col-lg-3">
						<div>
							<img src="/images/venez.jpg" class="pictos-concept">
						</div>
						<span><strong>Venez</strong></span>
						<p>Ne ratez aucun événement artistique pour partager des moments avec les artistes.</p>
					</div>
				</div>
			</div>
		</section>

</div>{% endblock %}
