{% extends 'base.html.twig' %}

{% block title %}Oeuvre{% endblock %}

{% block body %}
    <h1>Oeuvre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ oeuvre.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ oeuvre.reference }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ oeuvre.categorie }}</td>
            </tr>
            <tr>
                <th>Nom_oeuvre</th>
                <td>{{ oeuvre.nomOeuvre }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ oeuvre.année ? oeuvre.année|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Dimension</th>
                <td>{{ oeuvre.dimension }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ oeuvre.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ oeuvre.photo }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ oeuvre.stock }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('oeuvre_index') }}">back to list</a>

    <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>

    {{ include('oeuvre/_delete_form.html.twig') }}
{% endblock %}
