{% extends 'base.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    <h1>Membre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membre.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ membre.pseudo }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ membre.mdp }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ membre.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ membre.email }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ membre.ville }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ membre.cp }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ membre.adresse }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ membre.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('membre_index') }}">back to list</a>

    <a href="{{ path('membre_edit', {'id': membre.id}) }}">edit</a>

    {{ include('membre/_delete_form.html.twig') }}
{% endblock %}
