{% extends 'bo_base.html.twig' %}

{% block title %}Profil {{app.user.username}} {% endblock %}

{% block content %}
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-dark">
			  <li class="breadcrumb-item"><a href="{{ path("accueil")}}">Accueil</a></li>
			  <li class="breadcrumb-item active" aria-current="page">Profil de {{app.user.username}}</li>
			</ol>
		</nav>

		<h1>Bienvenue sur votre profil {{ app.user.pseudo }}</h1>

		<h2 class="border-bottom h2-profil">Mes informations personnelles</h2>

		<div class="row justify-content-between align-items-start pb-3">
			
			<div class="col-lg-2">
			<img class="rounded img-membre" src="/images/avatar_default.png" alt="photo de profil">
			</div>

			<ul class="col-lg-8 ul-profil">
				<li>Nom & Prénom : {{ app.user.nom }} {{ app.user.prenom }}</li>
				<li>Pseudo : {{ app.user.pseudo }}</li>
				<li>E-mail : {{ app.user.email }}</li>			
				<li>Adresse : {{ app.user.adresse }}</li>
				<li>Code Postal - Ville : {{ app.user.cp }} {{ app.user.ville }}</li>
			</ul>
			
			<div class="col-lg-2">
				<a class="btn" href="{{ path('edit_profil_membre', {'id': app.user.id}) }}">Modifier</a>
			</div>
	
		</div>

		<div class="row justify-content-between align-items-center">
			<h2 class="h2-profil">Abonnement à la newsletter</h2>
		
			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input" id="customSwitch1">
				<label class="custom-control-label" for="customSwitch1"></label>
			</div>
		</div>

		<h2 class="border-bottom h2-profil">Mes commandes</h2>

		<div class="row justify-content-between align-items-start pb-3">
			
			<div class="col-lg-2">
			<img class="rounded img-membre" src="/images/oeuvre_mea_01.jpg" alt="photo de l'oeuvre">
			</div>

			<ul class="col-lg-8 ul-profil">
				<li>Numéro de commande :</li>
				<li>Titre de l'oeuvre :</li>
				<li>Prix :</li>			
				<li>Statut de la commande :</li>
			</ul>
			
			<div class="col-lg-2">
				<a href="">Voir le détail</a>
			</div>
		
		</div>
		
{% endblock %}