{% extends 'base.html.twig' %}

{% block title %}Profil {{app.user.username}}
{% endblock %}

{# {% block h1 %}Mon profil
{% endblock %} #}

{% block body %}

	<h2>Bonjour,
		{{ app.user.pseudo }}</h2>

	<ul class="list-group">
		<li class="list-group-item">Nom:
			{{ app.user.nom }}</li>
		<li class="list-group-item">Prénom:
			{{ app.user.prenom }}</li>
	</ul>

	{# <h3>Mes emprunts</h3>
	<table class="table table-bordered">
		<thead class="thead-dark">
			<th>Livre</th>
			<th>Emprunté le</th>
			<th>Rendu le</th>
		</thead> #}


		{# <tbody>
			{% for emprunt in app.user.emprunts %}
            <tr>
				<td>{{ emprunt.livre.titre }}</td>
				<td>{{ emprunt.dateEmprunt|date("d/m/y") }}</td>
				<td>{{ emprunt.dateRetour ? emprunt.dateRetour|date("d/m/y") : "-" }}</td>
                </tr>
			{% endfor %}

		</tbody>
	</table> #}
{% endblock %}