{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Adresse</th>
                <th>Date</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.ville }}</td>
                <td>{{ evenement.cp }}</td>
                <td>{{ evenement.adresse }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.titre }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}"> Voir </a>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}"> Modifier </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7"> Aucun évement trouvé </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evenement_new') }}"> Créer un nouvel événement</a>
{% endblock %}
