{% extends 'bo_base.html.twig' %}

{% block title %}Art d'un temps - Oeuvre {{ oeuvre.titre }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item"><a href="{{ path("accueil")}}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path("profil_admin")}}">Profil de {{app.user.username}}</a></li>
            <li class="breadcrumb-item"><a href="{{ path("admin_oeuvres")}}">Liste des oeuvres</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier l'oeuvre {{ oeuvre.titre }}</li>
        </ol>
    </nav>
    <h1>modifier l'oeuvre</h1>
    <h2 class="text-center center h2-profil">{{ oeuvre.titre }}</h2>
        <div class="col-lg-6 mx-auto pt-3 border rounded bg-white">
            {{ form(oeuvreForm)}}
            </div>
{% endblock %}