<header class="bg-white">
	<div
		class="container-fluid d-flex p-2">
		<!-- LOGO -->
		<a class="navbar-brand ml-2" href="{{ path("accueil") }}">
			<img class="logo" src="/images/logo.png" alt="Mon logo">
		</a>

		<nav class="navbar navbar-expand-lg navbar-light container-fluid">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="mx-auto">
					<ul class="navbar-nav mb-lg-0 ">					
						<li><a class="nav-link fz-nav" href="{{ path("accueil") }}">Accueil</a></li>
						<li><a class="nav-link fz-nav ml-lg-5" href="{{ path("concept") }}">Concept</a></li>
						<li><a class="nav-link fz-nav ml-lg-5" href="{{ path("oeuvres") }}">Oeuvres</a></li>
						<li><a class="nav-link fz-nav ml-lg-5" href="{{ path("events") }}">Evénements</a></li>
					</ul>	
				</div>

				<!-- Inscription / Connexion -->
				<div>
					{% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <ul class="navbar-nav mb-2 mb-lg-0"> {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("admin_accueil")}}">
                                    <i class="fa fa-user"></i>
                                    Administration
                                </a>
                            </li>
                        {% elseif is_granted("ROLE_ARTISTE") %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-user"></i>
                                    Mon profil
                                </a>
                            </li>
                        {% elseif is_granted("ROLE_USER") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("profil_user") }}">
                                    <i class="fa fa-user"></i>
                                    Mon compte
                                </a>
                            </li>
                        {% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path("cart_index") }}">
								<i class="fas fa-shopping-cart"></i>
								Panier
							</a>
						</li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_logout") }}">
                                <i class="fa fa-sign-out-alt"></i>
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                    {% else %}
                        <form class="d-flex">
                            <a id="inscription" class="nav-link fz-nav" href="{{ path("app_register") }}">Inscription</a>
                            <a class="btn btn-warning" href="{{ path("app_login") }}">Connexion</a>
                        </form>
                    {% endif %}
				</div>
			</div>
		</nav>
	</div>
</header>
