<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<div class="container-fluid">
			<!-- LOGO -->
			<a class="navbar-brand" href="#">
				<img class="logo"src="/images/logo.png" alt="Mon logo">
			</a>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto mb-2 mb-lg-0">
      <a class="nav-link" href="#">Accueil</a>
      <a class="nav-link" href="#">Concept</a>
      <a class="nav-link" href="#">Oeuvres</a>
      <a class="nav-link " href="#">Evénements</a>
      
    
			<!-- TOGGLE BUGER MENU -->
			{# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- INCLUS DANS LE TOGGLE MENU BURGER -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<!-- NAV -->
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Concept</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Oeuvres</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Evénements</a>
					</li>
				</ul> #}

				<!-- Inscription / Connexion -->
				{% if is_granted("IS_AUTHENTICATED_FULLY") %}
					<ul class="navbar-nav mb-2 mb-lg-0">
						{% if is_granted("ROLE_ADMIN") %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path("profil_admin")}}">
									<i class="fa fa-user"></i> {{ app.user.pseudo }}
								</a>
							</li>
						{% elseif is_granted("ROLE_ARTISTE") %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path("profil_artiste")}}">
									<i class="fa fa-user"></i> {{ app.user.pseudo }}
								</a>
							</li>
						{% elseif is_granted("ROLE_MEMBRE") %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path("profil_membre")}}">
									<i class="fa fa-user"></i> {{ app.user.pseudo }}
								</a>
							</li>
						{% endif %}

						<li class="nav-item">
							<a class="nav-link" href="{{ path("app_logout") }}">
								<i class="fa fa-sign-out-alt"></i>
							</a>
						</li>
					</ul>
				{% else %}
					<form class="d-flex">
						<a id="inscription" class="nav-link" href="{{ path("app_register") }}">Inscription</a>
						<a class="btn btn-warning" href="{{ path("app_login") }}">Connexion</a>	
					</form>
				{% endif %}

			</div>

		</div>

	</nav>
</header>

 
 
			

		