<header>
	<div class="container-fluid d-flex p-1">
		<!-- LOGO -->
		<a class="navbar-brand" href="{{ path("accueil") }}"> <img class="logo" src="/images/logo.png" alt="Mon logo"> </a>


		<nav class="navbar navbar-expand-lg navbar-light container-fluid">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="mx-auto">
					<ul class="navbar-nav mb-lg-0 text-center word">					
						<li><a class="nav-link" href=" {{ path('accueil') }} ">Accueil</a></li>
						<li><a class="nav-link" href=" {{ path('concept') }} ">Concept</a></li>
						<li><a class="nav-link" href=" {{ path('oeuvres') }} ">Oeuvres</a></li>
						<li><a class="nav-link" href=" {# {{ path('evenement_index') }} #} ">Evénements</a></li>
					</ul>	
				</div>
				
					<!-- Inscription / Connexion -->
				<div class="">
					{% if is_granted("IS_AUTHENTICATED_FULLY") %}
						<ul class="navbar-nav mb-2 mb-lg-0"> {% if is_granted("ROLE_ADMIN") %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path("profil_admin")}}">
									<i class="fa fa-user"></i>
									{{ app.user.pseudo }}
								</a>
							</li>
						{% elseif is_granted("ROLE_ARTISTE") %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path("profil_artiste")}}">
									<i class="fa fa-user"></i>
									{{ app.user.pseudo }}
								</a>
							</li>
						{% elseif is_granted("ROLE_MEMBRE") %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path("profil_membre")}}">
									<i class="fa fa-user"></i>
									{{ app.user.pseudo }}
								</a>
							</li>
						{% endif %}

						<li class="nav-item">
							<a class="nav-link" href="{{ path("app_logout") }}">
								<i class="fa fa-sign-out-alt"></i>
							</a>
						</li>
					</ul>
					{% else %}
						<form class="d-flex">
							<a id="inscription" class="nav-link mx-auto" href="{{ path("app_register") }}">Inscription</a>
							<a class="btn btn-warning  mx-auto" href="{{ path("app_login") }}">Connexion</a>
						</form>
					{% endif %}
				</div>
			</div>	
		</nav>
	</div>
</header>
