{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
    <div class="container-fluid bc-top-page text-justify">
        <div class="container pt-4 pb-4">
            <h1 class="pb-4 titre-black">L'art d'un temps et ses merveilles</h1>
        
            <p>Le temps d'un moment, l'art d'un temps vous propose de venir à la découverte de ses incroyables oeuvres, qui ont germées de l'esprit de nos artistes partenaires. Que ce soit par la peinture, la sculpture ou autres expressions créatrice qui vous sont proposés, nous espéront vous faire passer un moment de bonheur. L'art au cour du temps s'est exprimé de bien des façons, vous trouverez ici un panel d'oeuvres qui représente une partie émergente de notre temps</p>

        </div>    
    </div>    
    <section>
        
            <div class="container">

                <h2 class="text-center">La peinture</h2>

                <div class="card-columns">

                    {% for peinture in peintures %}
                    <div class="card">
                        <img class="card-img-top" src="{{ asset(dossier_images_oeuvres) ~ peinture.photo }}" alt="-">
                            <article class="card-body">
                            <h3><a href="{{ path('oeuvre', {'id': peinture.id}) }}">{{ peinture.titre }}</a></h3>
                                <img class="rounded-circle img-membre-list" src="{{ asset(dossier_images_membres) ~ peinture.user.photo }}" alt="-">
                                <span class="details-oeuvre">{{ peinture.user.pseudo }} /  {{ peinture.annee ? peinture.annee|date('d-m-Y') : '' }}</span>
                            </article>
                    </div>
                    {% endfor %}

                </div>

                <h2 class="text-center">La sculpture</h2>

                <div class="card-columns">

                    {% for sculpture in sculptures %}
                    <div class="card">
                        <img class="card-img-top" src="{{ asset(dossier_images_oeuvres) ~ sculpture.photo }}" alt="-">
                            <article class="card-body">
                            <h3><a href="{{ path('oeuvre', {'id': sculpture.id}) }}">{{ sculpture.titre }}</a></h3>
                                <img class="rounded-circle img-membre-list" src="{{ asset(dossier_images_membres) ~ sculpture.user.photo }}" alt="-">
                                <span class="details-oeuvre">{{ sculpture.user.pseudo }} /  {{ sculpture.annee ? sculpture.annee|date('d-m-Y') : '' }}</span>
                            </article>
                    </div>
                    {% endfor %}

                </div>

                <h2 class="text-center">La céramique</h2>

                <div class="card-columns">

                    {% for ceramique in ceramiques %}
                    <div class="card">
                        <img class="card-img-top" src="{{ asset(dossier_images_oeuvres) ~ ceramique.photo }}" alt="-">
                            <article class="card-body">
                            <h3><a href="{{ path('oeuvre', {'id': ceramique.id}) }}">{{ ceramique.titre }}</a></h3>
                            <img class="rounded-circle img-membre-list" src="{{ asset(dossier_images_membres) ~ ceramique.user.photo }}" alt="-">
                                <span class="details-oeuvre">{{ ceramique.user.pseudo }} /  {{ ceramique.annee ? ceramique.annee|date('d-m-Y') : '' }}</span>
                            </article>
                    </div>
                    {% endfor %}

                </div>


            </div>
    </section>


{% endblock %}
