{% extends 'bo_base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-dark">
			  <li class="breadcrumb-item"><a href="{{ path("accueil")}}">Accueil</a></li>
			  <li class="breadcrumb-item active" aria-current="page">Compte de {{ app.user.pseudo }}</li>
			</ol>
		</nav>

    <section class="container">
        <h1>Bienvenue sur votre compte {{ app.user.pseudo }}</h1>
        <div class="row mt-3">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Informations personnelles</h5>
                        
                            {% if app.user.photo is defined %}
                            
                                <img class="rounded-circle img-membre m-3" src="{{ asset(dossier_images_membres) ~ app.user.photo }}" alt="photo de profil">
                            
                            {% endif %}
                            <div>
                                <strong>{{ app.user.prenom }} {{ app.user.nom }}</strong>
                                <p><cite>{{ app.user.pseudo }}</cite></p>
                                <hr>
                                <p><i class="fa fa-envelope"></i> {{ app.user.email }}</p>			
                                {{ app.user.adresse }}<br />
                                {{ app.user.cp }} {{ app.user.ville }}

                                <div class="mt-3">
                                    <a class="btn" href="#">Modifier</a>
                                </div>
                            </div>   
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Abonnements et alertes</h5>
                    <div class="d-flex justify-content-between">
                        <p>Inscription à la Newsletter artduntemps.com</p>
                        <div class="custom-control custom-switch ml-2">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Oui</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Alertes nouveaux événements artduntemps.com</p>
                        <div class="custom-control custom-switch ml-2">
                            <input type="checkbox" class="custom-control-input" id="customSwitch2">
                            <label class="custom-control-label" for="customSwitch2">Oui</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Commandes d'oeuvres</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <th>N° Commande</th>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                            
                            {% for order in app.user.getOrders %}
                                <tr>
                                    <td>{{ order.reference }}</td> 
                                    <td></td>
                                        
                                  <td>{% for details in app.user %}
                                  {{ details.getPrice }} 
                                  {% endfor %}
                                  €</td>
                                  
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
		
{% endblock %}