{% extends 'bo_base.html.twig' %}

{% block title %}Art d'un temps - Mes oeuvres {% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item"><a href="{{ path("accueil")}}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path("profil_artiste")}}">Profil de {{app.user.username}}</a></li> 
            <li class="breadcrumb-item active" aria-current="page">Mes articles</li>
        </ol>
    </nav>
    <h1>Liste des articles</h1>

    <table class="table mt-3">
        <thead class="bg-light">
            <tr>
                <th>N° Article</th>
                <th>Photo</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr class="text-table">
                <td class="align-middle">{{ article.id }}</td>
                <td class="align-middle"><img class="rounded img-membre m-3" src="{{ asset(dossier_images_articles) ~ article.photo }}" alt="article"></td>
                <td class="align-middle">{{ article.titre }}</td>
                <td class="align-middle">{{ article.auteur }}</td>
                <td class="align-middle">
                    <a href="{{ path('article_show', {'id': article.id}) }}" class="link-action"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('artiste_article_edit', {'id': article.id}) }}" class="link-action"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr class="text-table">
                <td colspan="5">Aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('artiste_article_new') }}" class="btn">Ajouter un article</a>
{% endblock %}
