{% extends 'bo_base.html.twig' %}

{% block title %}Art d'un temps - Liste des articles {% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item"><a href="{{ path("accueil")}}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path("profil_admin")}}">Profil de {{app.user.username}}</a></li> 
            <li class="breadcrumb-item active" aria-current="page">Liste des articles</li>
        </ol>
    </nav>
    <h1>Liste des articles</h1>

    <table class="table mt-3">
        <thead class="bg-light">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr class="text-table">
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.auteur }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr class="text-table">
                <td colspan="5">Aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}" class="btn">Ajouter un article</a>
{% endblock %}
